@import "@/app/styles/window.scss";

.container {
  padding: 20px;
  overflow: auto;
}

.body {
  height: 400px;
}

.footer {
  display: flex;
  justify-content: center;
  .logout-btn {
    width: 300px;
  }
}
